
   <!-- 错误提示 -->
  <div *ngIf="error$ | async as error">
    <p>{{ error }}</p>
  </div> 
  <div *ngIf="loading$  | async as loading">
    <p>loading: {{ loading }}</p>
  </div>   

 <!-- 主包这里的条件判断 *ngIf="!(loading$ | async) && !(error$ | async)"很关键，如果false将造成以下内容不加载 -->
  <div  class="p-6">
    @if (currentStatus$ | async; as status) {
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Stsatus: {{ status }}</h2>
  }

  @if (currentDepartment$ | async; as department) {
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Department: {{ department }}</h2>
  }  
 
  <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
    <table class="min-w-full border-collapse">
      <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
        <tr>
          <th class="px-6 py-3 text-left font-semibold">Aufgabe</th>
           <th class="px-6 py-3 text-left font-semibold">Bearbeiter</th>
          <th class="px-6 py-3 text-left font-semibold">Abteilung</th>
          <th class="px-6 py-3 text-left font-semibold">Startdatum</th>
          <th class="px-6 py-3 text-left font-semibold">Enddatum</th>
         
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of tasks$ | async"
          (click)="viewTaskDetail(task.id)"
          class="border-b hover:bg-blue-50 transition-colors duration-150 cursor-pointer"
        >
          <td class="px-6 py-3 font-medium text-gray-900">{{ task.title }}</td>
          <td class="px-6 py-3 text-gray-700">{{ task.employee?.full_name }}</td>
          <td class="px-6 py-3 text-gray-700 text-sm">{{ task.employee?.department }}</td>
          <td class="px-6 py-3 text-gray-700">{{ task.start_date }}</td>
          <td class="px-6 py-3 text-gray-700">{{ task.end_date }}</td>
        
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 如果没有任务时 -->
    @if ((tasks$ | async)?.length === 0) {
      <div class="text-center text-gray-500 mt-6">
        Keine Aufgaben mit dem Status
        <span class="text-blue-600 font-semibold">
          {{ currentStatus$ | async }}
        </span> 
        gefunden.
      </div>
    }

   <button 
      routerLink="/"
      class="mt-8 px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-lg transition cursor-pointer">
      Zurück
    </button>
</div>


